<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="text-center" th:fragment="pagination">
    <ul class="pagination"
        th:with="pageDisplaySize=10,prevOffset=5
            ,isFirstPageList=${items.number - prevOffset}
            ,start=${isFirstPageList lt 0 ? 0 : items.number - prevOffset}
            ,isLastPageList=${start + pageDisplaySize gt items.totalPages}
            ,end=${isLastPageList ? items.totalPages - 1: start + pageDisplaySize - 1}
            ,currentPage=${items.number eq 0}?1:${items.number + 1}
        ">
        <li th:class="${disabledForLeft}? 'disabled'"
            th:with="
                    disabledForLeft=${items.number le 0}
                    ,leftIink=${#httpServletRequest.getRequestURI() + '?page=' + (items.number - 1)}
                ">
            <a th:href="${disabledForLeft?'':leftIink}" aria-label="Previous"><span
                    aria-hidden="true">&laquo;</span></a>
        </li>
        <th:block th:each="item : ${#numbers.sequence(start,end)}"
                  th:with="isCurrent=${items.number eq item}">
            <li th:classappend="${isCurrent}? 'active':''">
                <a th:href="${#httpServletRequest.getRequestURI() + '?page=' + item }">
                    <th:block th:text="${item + 1}">1</th:block>
                    <span class="sr-only" th:if="${isCurrent}">(current)</span></a>
            </li>
        </th:block>
        <li th:class="${disabledForRight}? 'disabled'"
            th:with="
                    disabledForRight=${items.number + 1 ge items.totalPages }
                    ,rightIink=${#httpServletRequest.getRequestURI() + '?page=' + (items.number + 1)}"
                >
            <a th:href="${disabledForRight?'':rightIink}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>